spring:
  profiles:
    active: prod
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
  jackson:
    time-zone: Asia/Seoul
  mvc:
    format:
      date-time: "yyyy-MM-dd'T'HH:mm:ss"
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  servers:
    - url: https://43.201.107.56:8087
      description: main-server
    - url: https://43.201.107.56:8088
      description: test-server
    - url: https://localhost:8080
      description: local-server

  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    path: /docs/swagger
server:
  forward-headers-strategy: framework

jwt:
  secret: YXdlc29tZV9sb25nX3NlY3JldF9mb3Jfand0X3NpZ25pbmdfa2V5XzIwMjU=
  expiration-time: 3600000 # 예: 3600000ms = 1시간
  refresh-expiration-time: 604800000 # 7일